<div class="directoryHeader w-section">
    <div class="directoryHeadingText">
        <h2 class="text-center">Ah. Your To-Drinks.</h2>
        <h3 class="text-center">Aspire for grand beer ambitions and construct an extensive list.</h3>
    </div>
</div>

<div class="container">
<div class="well todrinkstatisticssection">
    <table class="table table-striped table-hover">
        <tr>
            <th>
                Beers in To-Drink:
            </th>
            <td>{{toDrinkStatistics.totalInToDrink}}</td>
        </tr>
        <tr>
            <th>
                Beers I've checked off and drank:
            </th>
            <td>{{toDrinkStatistics.drank}}</td>
        </tr>
        <tr>
            <th>Beers I've yet to drink:</th>
            <td>{{toDrinkStatistics.haveNotDrank}}</td>
        </tr>
    </table>
</div>

<div style="margin-top: 100px; margin-bottom: 100px" class="text-center" ng-if="activeUser.toDrink.length === 0">
    <h2> You have no beers in your To-Drink list</h2>
    <h3>Go ahead and add some when browsing a specific beer</h3>
</div>

<div ng-repeat="beer in activeUser.toDrink" class="w-section toDrinkEntry">
    <div class="w-container"><img ng-src="{{beer.image}}">
        <div class="todrinkbeerdetails">
            <a href="/#/beer/{{beer.beerId}}"><p class="todrinkbeername">{{beer.beerName}}</p></a>
            <p class="todrinkbeerbrewery">{{beer.breweryName}}</p>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-9">
                <i ng-if="beer.finallyDrank" class="fa fa-check-square-o fa-3x" aria-hidden="true"></i>
                <i ng-if="!beer.finallyDrank" class="fa fa-square-o fa-3x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="subjectBreak container-fluid"></div>
</div>
</div>