<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drink, Drank, Drunk</title>

    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick-theme.css">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="/bower_components/slick-carousel/slick/slick.js"></script>
    <script src="/bower_components/angular-slick-carousel/dist/angular-slick.min.js"></script>

    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>

    <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.min.css">


    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">

    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>


    <!--Personal CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/simple-sidebar.css">

    <!--Personal Angular-->
    <script src="/js/concat.js"></script>



</head>
<body ng-app="beerApp" ng-controller="mainController">


<!--Header-->
<div class="navbar navbar-fixed-top" style="background-color : #FAFAFA; margin-bottom : 0px">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-header">
                <a class="pull-left" style="color : black" ng-href="/">WindUpDurb</a>
            </div>
        </div>

        <div class="row" style="color: black">
            <div class="col-sm-3 col-sm-offset-4"><a style="color: black" ui-sref="beerBrowse">Beer Browser</a></div>
            <div class="col-sm-3">Other Directory</div>
        </div>


        <div class="row">
            <div ng-if="!activeUser"  class="col-sm-2 col-sm-offset-5">
                <button type="button" ui-sref="login" class="btn">Login</button>
            </div>

            <div ng-if="!activeUser"  class="col-sm-2">
                <button type="button" ui-sref="register" class="btn">Register</button>
            </div>

            <div ng-if="activeUser" ng-controller="dropdownController" class="col-sm-2 col-sm-offset-7">
                <div uib-dropdown is-open="status.isopen" class="btn-group text-center">
                    <button uib-dropdown-toggle ng-disabled="disabled" id="single-button" type="button" class="btn btn-primary">
                        <i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li ui-sref="beerLog"><a>My Beer Log <3</a></li>
                        <li ui-sref="beerMeRandom"><a>Drink </a></li>
                        <li ui-sref="drank-beersConsumed"><a href="#">Drank</a></li>
                        <li ui-sref="drunk-personalGallery"><a href="#">Drunk</a></li>
                        <li class="divider"></li>
                        <li ui-sref="accountManagement"><a>Account Management</a></li>
                        <li ng-click="logout()"  role="menuitem"><a>Logout</a></li>
                    </ul>
                </div>
            </div>



            <div class="col-sm-1 col-sm-offset-2" style="margin-top: 15px">
                <a ng-href="/#/beerMe"><i id="beerIcon" class="fa fa-beer fa-3x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<!--End of Header-->
<hr id="divider">

    <div class="container" ui-view="body"></div>


</body>
</html>