.headersection {
  height: 150px;
  border-bottom: 1px solid #000;
  box-shadow: 1px 1px 3px -20px #000; }

.beerstylesslider {
  height: 350px;
  background-color: transparent; }

.sliderarrow {
  color: #000; }

.beerstylesslidermask {
  margin-right: 60px;
  margin-left: 60px;
  padding-right: 1px;
  padding-left: 0px; }

.beerstyleslides {
  width: 25%; }

.beerstyleslideicon {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.slidebutton.w--current {
  text-align: left; }

.slideheading {
  display: block;
  text-align: center; }

.homeheading {
  text-align: center; }

.homeheadingcontainer {
  margin-top: 58px;
  margin-bottom: 45px; }

.footersection {
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 70px;
  border: 1px solid #000; }
