<div class="directoryHeader w-section"></div>

<div style="margin-top: 75px;" class="w-section">
    <div class="w-container">
        <div style="margin-bottom: 75px;" class="row">
            <div class="col-sm-3 col-sm-offset-9">
                <img src="/images/bar-sign.png" class="img-responsive">
            </div>
        </div>
      <!--  <div style="margin-bottom: 75px;" class="row">
            <div class="col-sm-6 col-sm-offset-2">
                <h3>Let's take a second to appreciate the Beer Directory.</h3>
            </div>
        </div>-->
        <div class="row">
            <div class="col-sm-3 col-sm-offset-2">
                <h5 class="greyText">British Origin Ales</h5>
                <br>
                <ul>
                    <li ng-repeat="beer in beerDirectories[1]"><a href="" ng-click="takeMeToStyle(beer)">{{beer.name}}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="greyText">Irisih Origin Ales</h5>
                <br>
                <ul>
                    <li ng-repeat="beer in beerDirectories[2]"><a href=""   ng-click="takeMeToStyle(beer)">{{beer.name}}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="greyText">North American Origin Ales</h5>
                <br>
                <ul>
                    <li ng-repeat="beer in beerDirectories[3]"><a href=""  ng-click="takeMeToStyle(beer)">{{beer.name}}</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-sm-offset-2">
                <h5 class="greyText">German Origin Ales</h5>
                <br>
                <ul>
                    <li ng-repeat="beer in beerDirectories[4]"><a href=""  ng-click="takeMeToStyle(beer)">{{beer.name}}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="greyText">Belgian and French Origin Ales</h5>
                <br>
                <ul>
                    <li ng-repeat="beer in beerDirectories[5]"><a href=""  ng-click="takeMeToStyle(beer)">{{beer.name}}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="greyText">International Origin Ales</h5>
                <br>
                <ul>
                    <li ng-repeat="beer in beerDirectories[6]"><a href=""  ng-click="takeMeToStyle(beer)">{{beer.name}}</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-sm-offset-2">
                <h5 class="greyText">European-germanic Lager</h5>
                <br>
                <ul>
                    <li ng-repeat="beer in beerDirectories[7]"><a href=""  ng-click="takeMeToStyle(beer)">{{beer.name}}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="greyText">North American Lager</h5>
                <br>
                <ul>
                    <li ng-repeat="beer in beerDirectories[8]"><a href=""  ng-click="takeMeToStyle(beer)">{{beer.name}}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="greyText">Other Lager</h5>
                <br>
                <ul>
                    <li ng-repeat="beer in beerDirectories[9]"><a href=""  ng-click="takeMeToStyle(beer)">{{beer.name}}</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>