<div class="directoryHeader w-section"></div>

<div style="margin-top: 50px; margin-right: 0; margin-left: 0" class="row">
    <div class="col-sm-3 col-sm-offset-2">
        <img src="/images/beer-tap.png" class="img-responsive">
    </div>
</div>
<div style="margin-top: 10px; margin-right: 0; margin-left: 0"" class="row">
    <div class="col-sm-3 col-sm-offset-2">
        <h2 class="greyText">{{currentStyle.currentDirectory.name}}</h2>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
        <h2 class="greyText">Characteristics</h2>
    </div>
</div>
<div style="margin-top: 10px; margin-right: 0; margin-left: 0"" class="row">
    <div class="col-sm-3 col-sm-offset-3">
        <p class="styleDescriptionText">{{currentStyle.currentDirectory.description}}</p>
    </div>
    <div class="col-sm-3 col-sm-offset-2">
        <p class="styleDescriptionText">ABV: <span style="margin-left: 35px">{{currentStyle.currentDirectory.abvMin}}% - {{currentStyle.currentDirectory.abvMax}}%</span></p>
        <p class="styleDescriptionText">SRM: <span style="margin-left: 35px">{{currentStyle.currentDirectory.srmMin}} - {{currentStyle.currentDirectory.srmMax}}</span></p>
        <p class="styleDescriptionText">IBU: <span style="margin-left: 35px">{{currentStyle.currentDirectory.ibuMin}} - {{currentStyle.currentDirectory.ibuMax}}</span></p>
    </div>
</div>

<div style="margin-top: 125px;" class="w-section" ng-if="categoryContents">
    <div class="w-container">
        <div class="row">
            <a ng-if="pageNumber != 1" ng-href="{{previousPage}}"><i class="fa fa-chevron-left fa-2x pull-left" aria-hidden="true"></i></a>
            <a  ng-href="{{nextPage}}"><i class="fa fa-chevron-right fa-2x pull-right" aria-hidden="true"></i></a>

        </div>


        <div ng-repeat="beer in categoryContents" class="w-section toDrinkEntry">
            <div class="w-container">
                <img ng-src="{{beer.labels.medium || beer.labels.large || beer.labels.icon || 'https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg' }}">
                <div class="beerLogDetails">
                    <a href="/#/beer/{{beer.id}}"><p class="beerLogDetailsBeer">{{beer.name}}</p></a>
                    <p class="beerLogDetailsBrewery">{{beer.breweries[0].name}}</p>
                </div>
                <div class="col-sm-2 col-sm-offset-9">
                    <span class="pull-right" ng-if="beer.status === 'update_pending'"><img src="/images/updatePending64.png"></span>
                    <span class="pull-right" ng-if="beer.status === 'verified'"><img src="/images/thumbUp64.png"></span>
              <!--      <span class="pull-right" ng-if="activeUser && beer.consumed"><img src="/images/beerIconConsumed64.png"></span>
                    <span class="pull-right" ng-if="activeUser && !beer.consumed"><img src="/images/beerIconNoConsumed64.png" ></span>-->
                </div>
                <div style="margin-top: 75px; margin-left: 0; margin-right: 0;" class="row">
                    <div class="col-sm-8 col-sm-offset-4">
                        <button ng-repeat="number in createRatingStars(beer.beerRating) track by $index" style="background-color: #272100; box-shadow: 10px 10px 5px #888888" class="btn btn-default btn-fab"><img src="/images/beerRating.png"></button>
                    </div>
                </div>
            </div>
            <div class="subjectBreak container-fluid"></div>
        </div>

    </div>
</div>


