body {
    background-color: #FAFAFA;
    padding-top : 90px;
}

#beerIcon {
    color: black;
}

#divider {
}

#beerBrowseMenuHeader {
    position: fixed;
    padding-bottom: 10px;
}

#beerBrowseMenu {
    margin-top: 25px
}